@import "../components/navbar.scss";
@import "../components/card.scss";
@import "../components/createPost.scss";
@import "../components/comments.scss";
@import "../components/updateProfil.scss";

.thread-container {
  padding: 0px;
}
.imgLogo {
  text-align: center;
  margin-right: 0px;

  &__pic {
    height: 50px;
  }
}
