.Card {
  border: 1px orange;
  border-style: groove;
  border-radius: 33px;
  margin: 25px;

  display: flex;
  flex-direction: row;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  &__content {
    width: 100%;
    &--header {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      padding: 30px;
      border-top-left-radius: 33px;
      border-top-right-radius: 33px;
      border-bottom: 1px solid lightgrey;
    }
    &--modifyPost {
      width: 80%;
      margin: auto;
      justify-content: center;
      display: flex;
      align-items: center;
    }
    &--formUpdate {
      width: 80%;
      height: 150px;
      border-color: orange;
      border-radius: 16px;
      margin: 30px;
    }
    &--formUpdate::placeholder {
      text-align: center;
    }
    &--btnUpdate {
      padding: 5px 15px 5px 15px;
      margin: 10px;
      background-color: orange;
      font-size: 15px;
      font-weight: bold;
      border-radius: 33px;
      border: none;
    }
    &--headerLeft {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }
    &--pseudo {
      padding-left: 10px;
    }
    &--userPicture {
      height: 70px;
      margin-right: 30px;
    }
    &--picture {
      display: flex;
      height: 400px;
      width: 80%;
      margin: auto;
      margin-bottom: 40px;
      border-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &--text {
      text-align: center;

      flex-wrap: wrap;
    }

    &--footer {
      display: flex;
      justify-content: space-between;
      background-color: rgb(241, 234, 234);
      padding: 30px;
      border-bottom-left-radius: 33px;
      border-bottom-right-radius: 33px;
    }
  }
}
.updatePost {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__Icon {
    height: 25px;
  }
}
.postInteractions {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__Icon {
    margin-right: 10px;
    height: 25px;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__iconHeart {
    margin-right: 10px;
    height: 25px;
    color: red;
  }
}
.date {
  font-style: italic;
  color: grey;
}
@media screen and (max-width: 468px) {
  .Card {
    &__content {
      &--userPicture{
        margin-right:0px;

      }
      &--header {
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        
       
      }
      &--headerLeft{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        margin:auto;
      }
      &--picture {
        height: 200px;
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
      }
      &--text {
        margin: 0px;
        margin-bottom: 20px;
      }
      &--modifyPost {
        flex-direction: column;
      }
      &--pseudo{
        padding:0px;
      }
    }
  }
  .updatePost {
    justify-content: center;
    margin-right: 30px;
    &__Icon {
      margin: 10px;
      height: 20px;
    }
  }

  .postInteractions {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__content {
      margin-right: 10px;
    }
    &__Icon {
      margin-right: 10px;
      height: 20px;
      &--number {
        margin-left: 5px;
      }
    }
    &__iconHeart {
      margin-right: 10px;
      height: 20px;
      color: red;
    }
  }
}
.threadNull {
  border: 2px solid pink;
  border-radius: 30px;
  padding: 80px;
  margin: 40px;
  text-align: center;
  font-size: 20px;
  color: pink;
  font-weight: bold;
}
