.comments {
  margin-top:40px;

  &__date {
    font-style: italic;
    color: grey;
    margin-left: 40px;
    display: flex;
    flex: wrap;
  }

  &__content {
    border: 0.5px solid rgb(161, 143, 143);
    border-radius: 33px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 5px;
    width:75%;
    &--userPicture {
      height: 70px;
      margin-right: 10px;
    }
    &--input {
      width: 60%;
      height: 60px;
    }

    &--btn {
      padding: 7px 25px 7px 25px;
      margin: 10px;
      background-color: orange;
      font-size: 15px;
      font-weight: bold;
      border-radius: 33px;
      border: none;
    }

    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid grey;
      padding-bottom: 10px;
    }
    &--headerLeft {
      display: flex;
    }

    &--top {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex: wrap;
    }
    &--text {
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: wrap;
      margin:3px;
      padding-top:15px;
      padding-bottom:15px;

    }
  }
  &__form {
    text-align: center;
  }
  &__pseudo {
    padding: 10px;
    display: flex;
    flex: wrap;
  }
}
.editComment {
  text-align: center;
  &__left {
    display: flex;
    align-items: center;
  }
  &__trash {
    padding-left: 25px;
    height: 20px;
  }
  &__textArea {
    height: 30px;
    width: 45%;
  }
  &__btn {
    padding: 5px 15px 5px 15px;
    margin: 10px;
    background-color: orange;
    font-size: 15px;
    font-weight: bold;
    border-radius: 33px;
    border: none;
  }
  &__btnActiv {
    padding: 5px 15px 5px 15px;
    margin: 10px;
    background-color: rgb(248, 225, 229);
    font-size: 15px;
    font-weight: bold;
    border-radius: 33px;
    border: none;
  }
  &__form {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 468px) {
  .comments {
    &__content {
      &--header {
        flex-direction: column;
      }
      &--top {
        align-items: baseline;
        flex-direction: column;
      }
      &--userPicture {
        height: 50px;
      }
      &--header {
        align-items: baseline;
      }
    }
    &__pseudo {
      margin: 0px;
      padding: 5px 0px 5px 0px;
      font-size: 13px;
    }
    &__date {
      margin: 0px;
      font-size: 13px;
    }
  }
  .editComment {
    &__btnActiv {
      font-size: 12px;
      padding: 5px 7px 5px 7px;
    }
    &__form {
      display: flex;
      flex-direction: column;
    }
    &__left {
      justify-content: center;
    }
    &__right {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    &__textArea {
      width: 90%;
      height: 80px;
    }
  }
}
