.footer {
  background-color: grey;
  height: 150px;
  margin-top: 45px;

  &__mentions {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 0px 0px;

    &--li {
      list-style-type: none;
      color: white;
      padding-right: 50px;
    }
  }
}

@media screen and (max-width: 468px) {
  .footer {
    &__mentions {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      width: 100%;
      margin: auto;
      &--li {
        padding-right: 0px;
      }
    }
  }
}
