.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px 20px 100px;
  margin-bottom: 70px;
  box-shadow: 6px 1px 30px black;
}
.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0px;
}
.logout {
  padding-left: 20px;
}
.Bonjour {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 468px) {
  .Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
