@import "./pages/feed.scss";
@import "./pages/login.scss";
@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  margin: 0px;

  font-family: Lato, "sans-serif";
}
a {
  text-decoration: none;
}
a:visited {
  color: black;
}
textarea::placeholder {
  text-align: center;
}
textarea {
  text-align: center;
  padding: 10px;
}
